// Specific CSS for your home-page
.container {
  text-align: center;

}

.card {
  width: 18rem;
  margin: 0 auto;
}

.card .card-image {
  padding: 4em 4em 2em 4em;
}

.card .card-body .card-title.cigarette {
  font-size: 4em;
}
