<h1>Permacouture - Boite à outils</h1>
<p>Quelques petites outils pratiques pour notre quotidien</p>

<div class="card">
  <img src="https://cdn.dribbble.com/users/74401/screenshots/4081641/kangoo-icon.png?compress=1&resize=800x600" class="card-img-top" alt="kangoo roux">
  <div class="card-body">
    <h5 class="card-title">Kangoo roule</h5>
    <p class="card-text">Suivi de la consommation du Kangoo</p>
    <%= link_to "Roule", tanks_path, class: "btn btn-primary", style:"width: 100%" %>
  </div>
</div>
